.info {
    display: flex;
    gap: 5%;
    width: 100%;
    height: fit-content;
}

.info > .info-separator {
    place-content: center;
}

/* Parte de la izquierda */
.info-cards {
    position: relative;
    display: grid;
    gap: 10%;
    margin-left: 5%;
}

.info-separator {
    border: solid #E3CFA6;
    height: 700px;
    width: 1px;
}

.info-card-right,
.info-card-left {
    display: flex;
    border: solid 1px #E3CFA6;
    align-items: center;
    width: 500px;
    padding: 2%;
    gap: 10%;
    justify-content: center;
}

.info-card-image {
    width: 250px;
    height: 150px;
    border-radius: 5%;
    box-shadow: 0px 0px 10px 0px #E3CFA6;
}

.info-card-content-separator {
    border: 1px solid #E3CFA6;
    height: 1px;
    width: 100%;
}

.info-card-right-content,
.info-card-left-content {
    text-align: center;
}

/* Parte de la derecha */
.info-text {
    width: 600px;
    display: grid;
    align-items: center;
    place-content: center;
    justify-items: center;
    padding-bottom: 20%;
}

.info-text-title {
    font-size: 2em;
    margin-bottom: 20px;
    border-bottom: solid 1px #E3CFA6;
}

.info-text-cards {
    margin-top: 10%;
    display: flex;
    gap: 20%;
    justify-content: center;
    position: relative;
}

.info-text-card {
    display: grid;
    border: solid 1px #F3A160;
    width: 200px;
    height: 250px;
    justify-content: center;
    text-align: center;
    place-content: center;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    border-radius: 10%;
}

.info-text-card.active {
    opacity: 1;
}

.info-text-card-icon
{
    background-color: #E3CFA6;
    width: 170px;
    height: 120px;
    place-content: center;
    border-radius: 10%;
    margin-bottom: 10%;
}
.info-text-card-title
{
    font-size: 1.2em;
    margin-top: 10px;
}

.info-text-card-icon > *
{
    font-size: 75px;
    color: black;
}

@media screen and (min-width: 320px) and (max-width: 460px) {
    .info {
        scale: 0.6;
        display: grid;
        position: relative;
        right: 20%;
        margin-top: 4%;
        margin-bottom: -10%;
    }
    
    .info-cards {
        display: grid;
        gap: 5%;
        margin-left: 10%;
    }
    
    .info-separator {
        display: none;
    }
    
    .info-text {
        margin-top: 1%;
        font-size: 20px;
        padding: 10%;
        position: relative;
        margin-bottom: 2%;
        left: 3%;
    }
    
    .info-text-cards {
        position: relative;
        left: -2%;
        padding: 2%;
 
    }
    
    .info-text-card {
        width: 300px;
        height: 220px;
        display: grid;
        padding: 10%;
    }
    
    .info-text-card-icon {
        width: 200px;
        height: 100px;
        left: 2%;
        place-content: center;
        position: relative;
    }
}
