footer {
    display: grid;
    align-items: center;
    place-content: center;
    background-color: #DAC189;
    position: relative;
    width: 100%;
    bottom: 0%;
    color: grey;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

footer a {
    text-decoration: none;
    color: grey;
}

footer a:hover {
    text-decoration: underline black 1px;
}


@media screen and (max-width: 768px){

    footer
    {
        height: 200px;
        width: 700px;
        position: relative;
        font-size: 20px;
    }
    
}