footer {
    display: grid;
    align-items: center;
    place-content: center;
    background-color: #DAC189;
    position: relative;
    width: 100%;
    bottom: 0%;
    color: grey;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

footer a {
    text-decoration: none;
    color: grey;
}

footer a:hover {
    text-decoration: underline black 1px;
}


@media screen and (min-width: 400px) and (max-width: 460px){

    footer
    {
        padding-top: 20%;
        height: 150px;
        position: relative;
        font-size: 8px;
        text-justify: center;
        right: 13%;
    }




    
}