.carrousel {
    border-radius: 2%;
    scale: 0.8;
    box-shadow: 2px;
    padding: 10px;
  }
  
.carrousel img
{
    border-radius: 2%;
    transition: 0.2s;
}

.carrousel img:hover
{
    scale: 0.95;
    filter: drop-shadow(0 0 0.75rem #DAC189);
    cursor: pointer;
}

.visually-hidden
{
    color: black;
    background-color: white;

}

@media screen and (max-width: 768px)
{
    
}